<div class="actions">
  <button mat-raised-button routerLink="/">Back</button>
</div>

<h1>Search by tags</h1>

<mat-form-field appearance="fill">
  <mat-label>Selected tags</mat-label>
  <mat-chip-list
    #chipList
    multiple
    aria-label="Tags selection"
  >
    <mat-chip
      *ngFor="let tag of tags"
      [value]="tag"
      (removed)="removeTag(tag)">
      {{tag}}

      <button matChipRemove>
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip>
    <input placeholder="New tag..."
           [matChipInputFor]="chipList"
           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
           [matChipInputAddOnBlur]="addOnBlur"
           (matChipInputTokenEnd)="addTag($event)">
  </mat-chip-list>
</mat-form-field>

<button
  mat-raised-button
  color="primary"
  [disabled]="!tags.size"
  (click)="handleSearch()"
>Search
</button>

<app-question-list
  [questions]="questions$ | async"
  (openQuestion)="handleOpenQuestion($event)"
  (editQuestion)="handleEditQuestion($event)"
  (deleteQuestion)="handleDeleteQuestion($event)"
  (searchByTag)="handleSearchByTag($event)"
></app-question-list>
