:host {
  display: block;
  padding: 15px;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  .right {
    > * {
      margin-left: 15px;
    }
  }
}

mat-chip-list {
  display: block;
  margin-bottom: 20px;
}

hr {
  border: none; /* hide border for Firefox */
  color: #c2185b; /* Line color for rest browsers */
  background-color: #c2185b; /* Line color for Firefox and Opera */
  height: 2px; /* line thickness */
  margin: 20px 0;
}
