<div class="actions">
  <button mat-raised-button [routerLink]="'../../'">Back</button>

  <span class="right">
    <button mat-raised-button color="accent" routerLink="./edit/">Edit</button>
    <button
      mat-raised-button
      color="primary"
      (click)="deleteQuestionHandler()"
    >Delete
  </button>
  </span>
</div>

<h1>{{question.title}}</h1>
<mat-chip-list>
  <mat-chip
    *ngFor="let tag of tags"
    selected
    color="primary"
    (click)="handleTagClick(tag)"
  >{{tag}}</mat-chip>
</mat-chip-list>
<app-markup-container [rawText]="question.answer"></app-markup-container>
