<mat-nav-list>
  <mat-list-item role="listitem">
    <a routerLink="search-by-text">Search by text</a>
  </mat-list-item>
  <mat-list-item role="listitem">
    <a routerLink="search-by-tags">Search by tags</a>
  </mat-list-item>
  <mat-list-item role="listitem">
    <a (click)="createCategoryHandler()">Create category</a>
  </mat-list-item>
</mat-nav-list>

<h1>Category list</h1>

<mat-list role="list">
  <mat-list-item role="listitem" *ngFor="let category of (categories$ | async)">
    <a
      [routerLink]="'/category/' + category.id">
      {{ category.name }}
    </a>
  </mat-list-item>
</mat-list>

<div class="cards-container">
  <mat-card
    class="category-card"
    *ngFor="let category of (categories$ | async)"
    (click)="navigateToCategoryPage(category.id)"
  >
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{category.name}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="category.imgUrl">
    <mat-card-actions>
      <button mat-button (click)="$event.stopPropagation()">Edit</button>
      <button mat-button (click)="$event.stopPropagation()">Delete</button>
    </mat-card-actions>
  </mat-card>
</div>
