.container {
  padding: 10px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  padding: 0 30px;
}

.cards-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: stretch;
}

.category-card {
  margin: 10px;
  width: 300px;
  cursor: pointer;
}

h1 {
  text-align: center;
}
