

.result-html {

  p {
    margin: 0 0 10px;
  }

  hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
  }

  ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
  }

  ul ul, ol ul, ul ol, ol ol {
    margin-bottom: 0;
  }

  a {
    color: #428bca;
    text-decoration: none;
  }

  h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
  }

  h1 {font-size: 36px;}
  h2 {font-size: 30px;}
  h3 {font-size: 24px;}
  h4 {font-size: 18px;}
  h5 {font-size: 14px;}
  h6 {font-size: 12px;}

  blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 5px solid #eee;
  }

  code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
  }

  pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #f9f2f4;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #1c1b1b;
    border: 1px solid #ccc;
    border-radius: 4px;

    code {
      padding: 0;
      font-size: inherit;
      color: inherit;
      white-space: pre-wrap;
      background-color: transparent;
      border-radius: 0;
    }
  }

  code, kbd, pre, samp {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  }

  table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;

    border-spacing: 0;
    border-collapse: collapse;
    text-align: left;

    thead > tr > th {
      padding: 8px;
      line-height: 1.42857143;
      vertical-align: bottom;
      border-bottom: 2px solid #ddd;
    }

    thead:first-child > tr:first-child > th {
      border-top: 0;
    }

    tbody {
      tr {
        td {
          padding: 8px;
          line-height: 1.42857143;
          vertical-align: top;
          border-top: 1px solid #ddd;
        }
      }
      tr:nth-child(odd) > td, tr:nth-child(odd) > th {
        background-color: #f9f9f9;
      }
    }
  }

  img {
    max-width: 35%;
    vertical-align: middle;
  }

  pre code.hljs{display:block;overflow-x:auto;padding:1em}code.hljs{padding:3px 5px}/*!
  Theme: StackOverflow Dark
  Description: Dark theme as used on stackoverflow.com
  Author: stackoverflow.com
  Maintainer: @Hirse
  Website: https://github.com/StackExchange/Stacks
  License: MIT
  Updated: 2021-05-15

  Updated for @stackoverflow/stacks v0.64.0
  Code Blocks: /blob/v0.64.0/lib/css/components/_stacks-code-blocks.less
  Colors: /blob/v0.64.0/lib/css/exports/_stacks-constants-colors.less
*/.hljs{color:#fff;background:#1c1b1b}.hljs-subst{color:#fff}.hljs-comment{color:#999}.hljs-attr,.hljs-doctag,.hljs-keyword,.hljs-meta .hljs-keyword,.hljs-section,.hljs-selector-tag{color:#88aece}.hljs-attribute{color:#c59bc1}.hljs-name,.hljs-number,.hljs-quote,.hljs-selector-id,.hljs-template-tag,.hljs-type{color:#f08d49}.hljs-selector-class{color:#88aece}.hljs-link,.hljs-regexp,.hljs-selector-attr,.hljs-string,.hljs-symbol,.hljs-template-variable,.hljs-variable{color:#b5bd68}.hljs-meta,.hljs-selector-pseudo{color:#88aece}.hljs-built_in,.hljs-literal,.hljs-title{color:#f08d49}.hljs-bullet,.hljs-code{color:#ccc}.hljs-meta .hljs-string{color:#b5bd68}.hljs-deletion{color:#de7176}.hljs-addition{color:#76c490}.hljs-emphasis{font-style:italic}.hljs-strong{font-weight:700}
}

